table,
th,
td {
  border: 0.5px solid black;
}

.middle {
  margin-left: 116px;
}

.underline{
  color: blue;
  font-weight: 600;
  text-decoration: none;
}
.underline1{
  text-decoration: none;
  cursor: pointer;
  color: red;
  font-weight: 600;
}